<div class="side-bar-container">
    <div class="side-bar">
        <%= image_tag("/images/house.png", alt: "Icon", class: "img")  %>
        <%= image_tag("/images/chat.png", alt: "Icon", class: "img")  %>
    </div>
</div>