<div class="side-bar-container">
    <div class="side-bar">
        <%= link_to image_tag("/images/house.png", alt: "Icon", class: "img") , rooms_path%>
        <%= link_to image_tag("/images/chat.png", alt: "Icon", class: "img"), new_room_path%>
    </div>
</div>