*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.login-page {
    height: 100vh;
    background: #8a26d1;
    background: #c8d9ed;
    display: flex;
    width: 100%;
}

.login-page .login-page-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 450px;
    background-color: #ffffff;
    width: 300px;
    margin: auto;
    padding-top: 25px;
}

.login-page .login-page-form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-page .login-page-inputs {
    height: 35px;
    background-color: #d0d0d0;
    width: 205px;
    margin-top: 5px;
    border: none;
    margin-bottom: 5px;
    padding-left: 10px;
}

.login-page .login-page-inputs:focus {
    outline: none;
    box-shadow: none;
}

.login-page .field.remember-me {
    display: flex;
    align-items: center;
    gap: 6px;
}

.login-page .field.remember-me .label {
    font-size: 11px;
    color: #d0d0d0;
    gap: 6px;
}

.login-page .actions .btn {
    width: 205px;
    height: 35px;
    border: none;
    text-transform: uppercase;
    background-color: #ae28b5;
    color: white;
    cursor: pointer;
}

.login-page-signup {
    text-decoration: none;
    font-size: 12px;
    color: #d0d0d0;
}

.login-page-forgot-your-password {
    font-size: 10px;
    color: #d0d0d0;
}

.new-page {
    height: 100vh;
    padding-left: 30px;

}



.card-post {
    padding-top: 10px;
    margin-left: 30px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    width: 500px;
    padding-bottom: 20px;
    gap: 5px;
    border-radius: 28px;
    box-shadow: 0px 11px 29px -11px rgba(0, 0, 0, 0.75);
}

/* //// */



.side-bar-container {
    background: #011f4b;
    height: 500px;
    width: 65px;
    padding-top: 20px;
    border-radius: 20px;
    margin-left: 10px;
}

.side-bar-container .side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.side-bar-container .side-bar .img {
    width: 30px;
    height: auto;
    cursor: pointer;
}

/* ////// */


.rooms-home-page-container {
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
    padding-left: 50px;
}

.rooms-home-page-container .user {
    display: flex;
    align-items: inherit;
    justify-content: end;
    gap: 16px;
    padding-top: 10px;
    padding-right: 7px;
}

.img-logout {
    width: 15px;
}

.btn-logout {
    background-color: none;
    border: none;
}

.rooms-home-page-container .user p {
    font-weight: bold;
    font-size: 14px;
}

.rooms-home-page-container>h5 {
    font-size: 47px;
    text-align: center;
    margin-top: 20px;
    font-weight: normal;
}

.rooms-home-page-container .room-box-container .room-box {
    box-shadow: 1px 2px 14px 1px rgba(0, 0, 0, 0.46);
    -webkit-box-shadow: 1px 2px 14px 1px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 1px 2px 14px 1px rgba(0, 0, 0, 0.46);
    width: 320px;
    height: 155px;
    background-color: #b3cde0;
    margin-top: 20px;
    border-radius: 20px;
}

.rooms-home-page-container .room-box-container .room-box .link-room {
    text-align: center;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.users-online {
    padding-top: 10px;
    padding-left: 3px;
    font-size: 12px;
}

.icon-online-offline {
    height: auto;
    width: 10px;
}

.rooms-home-page {
    display: flex;
}

#room_chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;
    width: 100%;
}


.input-text-message:focus {
    outline: none;
}

.chat-open-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.chat-open-container .back-to-rooms-container {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    padding-top: 12px;
    padding-right: 10px;
}

.chat-open {
    background: #011f4b;
    width: 51%;
    height: 500px;
    border-radius: 20px;
    margin-left: 100px;
    display: none;
    padding-bottom: 20px;
    overflow-y: auto;
}

.form-input-open-chat {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}

.user-anwser {
    width: 90%;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 300px) and (max-width: 1000px) {
    .main-container {
        flex-direction: column;
        align-items: center;
    }

    .side-bar-container {
        width: 95%;
        border-radius: 8px;
        height: 56px;
        margin-left: 0;
        padding-top: 0;
        align-items: center;
        display: flex;
        margin-top: 20px;
    }


    .side-bar-container .side-bar {
        flex-direction: unset;
        justify-content: center;
        width: 100%;
    }

    .rooms-home-page-container {
        padding-left: unset;
    }

    .rooms-home-page {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .chat-open {
        margin-left: unset;
        width: 90%;
        margin: auto;
        margin-top: 40px;
    }

    .room-box-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .new-page {
        height: unset;
    }
}